body {
    .header {
        /*アイコンも収まらなくなったら、headerを二段にする*/
        @include mq {
            height: $header-height * 2;
            flex-wrap: wrap;
        }
        .brand { 
            @include mq {
                width: 100%;
            }
        }
        .navbar {
            ul {
                padding: 0;
                li {
                    a{
                        
                    }
                }
            }
        } 
    }
    .article {
        @include mq {
            padding-top: $header-height * 2 !important;
        }
    }
    .player {
        .player-menu {
            top: 0 !important;
            left: 10% !important;
            width: 80% !important;
        }
    }
}