body {
    background-color: $body-bg;
    width: 100%;
    min-height: 100vh;
    font-family: $font-family-sans-serif !important;
    font-weight: 900;
    scroll-behavior: smooth;

    .header {
        position: fixed;
        top: $header-height / 2;
        left: 5%;
        width: 90%;
        height: $header-height;
        box-sizing: border-box;
        margin: auto;
        padding: 0 3%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $header;
        border-radius: 15px;
        box-shadow:  7px 7px 14px #b9b9b9, 
             -7px -7px 14px #fbfbfb;
        z-index: 9;

        .brand {
            margin: 0;
            a {
                font-family: $font-family-sans-serif !important;
                font-size: 20px;
                color: $theme;
                text-decoration: none;
            }
            &:hover {
                text-decoration: line-through;
            }
        }
        .navbar {
            ul {
                margin: 0;
                display: flex;
                list-style: none;
                li {
                    box-sizing: border-box;
                    padding: 0 10px;
                    a{
                        font-size: $header-height - 15px;
                        color: $header-color;
                        
                        &:hover {
                            text-decoration: line-through;
                        }
                        &.active {
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
        .header-post-button {
            max-width: 100px;
            height: $header-height - 5px;
            box-sizing: border-box;
            padding: 0 20px;
            background: $button-bg;
            box-shadow:  inset -5px -5px 9px #b9b9b9, 
                    inset 5px 5px 9px #fbfbfb;
            border-radius: 20px;
            text-align: center;
            word-break: break-all;
            overflow: hidden;

            a {
                display: block;
                line-height: $header-height - 5px;
                color: $navbar-theme-hov;
                &:hover {
                    text-decoration: none;
                }
            }
            &:hover {
                box-shadow:  inset 5px 5px 9px #b9b9b9, 
                    inset -5px -5px 9px #fbfbfb;
            }
        }
        .dropdown {
            border-radius: 5px;
            box-sizing: border-box;
            padding: 5px 0;
            flex: none;
            background-color: $header;
            ul {
                width: 100%;
                list-style: none;
                box-sizing: border-box;
                padding: 0;
                a {
                    width: 100%;
                    display: block;
                    color: $body-color;
                    text-decoration: none;
                    li {
                        box-sizing: border-box;
                        padding: 0 3%;
                        &:hover {
                            background-color: $navbar-theme-hov;
                        }
                    }
                    &:hover {
                        color: $navbar-color;
                    }
                }                
            }
        }
    }
    //Article
    .article {
        width: 100%;
        height: 100vh;
        margin: 0 !important;
        box-sizing: border-box;
        padding: 0 1% $player-height 1%;
        overflow-y: auto;
        font-family: $font-family-sans-serif !important;

        //form

        .form {
            width: 90%;
            height: 100%;
            margin: auto;
            box-sizing: border-box;
            padding: $header-height * 2 0 $player-height 0;
            display: flex;
            background: $body-bg;
            color: $body-color !important;
            .mainform {
                width: 50%;
                label {
                    font-size: 1.5em;
                    color: $body-color;
                }

                input[type="email"], [type="password"], [type="text"] {
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 15px 15px;
                    background: $body-bg;
                    border-radius: 20px;
                    box-shadow: inset 5px 5px 10px #a1a1a1, 
                                inset -5px -5px 10px #ffffff;
                    border: none;
                    outline: none;
                    color: $body-color;
                    transition: box-shadow .2s;
                    &:focus {
                        box-shadow: inset 2px 2px 4px #a1a1a1, 
                                inset -2px -2px 4px #ffffff;
                        transition: box-shadow .2s;
                    }
                }
                .form-alert {
                    margin: 15px auto;
                    width: 90%;
                    box-sizing: border-box;
                    padding: 10px 5px;
                    box-shadow: $card-shadow;   
                }
                .form-button {
                    display: block;
                    margin: 10px;
                    box-sizing: border-box;
                    padding: 10px 20px;
                    background-color: $body-bg;
                    color: $body-color;
                    border: none;
                    outline: none;
                    box-shadow: $card-shadow;
                    transition: box-shadow .2s;    

                    &:hover {
                        box-shadow: $card-shadow-hover;
                        transition: box-shadow .2s;
                    }
                }
                .form-textarea {
                    display: block;
                    width: 100%;
                    height: 30vh;
                    box-sizing: border-box;
                    padding: 15px 15px;
                    background: $body-bg;
                    border-radius: 20px;
                    box-shadow: inset 5px 5px 10px #a1a1a1, 
                                inset -5px -5px 10px #ffffff;
                    border: none;
                    outline: none;
                    color: $body-color;
                    transition: box-shadow .2s;

                    resize: none;

                    &:focus {
                        box-shadow: inset 2px 2px 4px #a1a1a1, 
                                inset -2px -2px 4px #ffffff;
                        transition: box-shadow .2s;
                    }
                    
                }
                *:focus {
                    border: solid $theme 2px !important;
                }
            }
            .description {
                width: 50%;
                text-align: center;

                h1 {
                    text-align: center;
                    font-family: $font-family-sans-serif;
                    font-weight: 900;
                    font-size: 5em;
                    color: $navbar-theme-hov;
                }
                h2 {
                    color: $body-color;
                }
            }
        }

        //home

        .home {
            width: 100%;
            height: 100%;

            .home-wrapper {
                width: 100%;
                height: 100%;
                display: flex;

                .home-nav {
                    width: 30%;
                    height: 100%;
                    box-sizing: border-box;
                    padding: $header-height * 2 0 0 0;
                    overflow-x: auto;
                    flex-wrap: wrap;
                    -webkit-flex-wrap: wrap;
                    word-break: break-all;
                    overflow-y: auto;
                    background-color: $body-bg;
                    section {
                        width: 90%;
                        margin: 30px auto;
                        box-sizing: border-box;
                        padding: 15px 2px;
                        border-radius: 5px;
                        background-color: $body-bg;
                        box-shadow:  9px 9px 18px #c0c0c0, 
                            -9px -9px 18px #f4f4f4;
                        transition: box-shadow .2s;

                        h2 {
                            margin-bottom: 20px;
                        }

                        h3 {
                            margin: 0;
                            font-size: 2em;
                            color: $body-color;
                        }

                        ul {
                            list-style: none;
                            margin: 0;
                            padding: 0;

                            li {
                                padding: 5px 2px;
                                text-align: justify;

                                a {
                                    color: $body-color;
                                    
                                    &:hover {
                                        text-decoration: none;
                                    }
                                }

                                &:hover {
                                    background-color: $navbar-theme-hov;
                                    a {
                                        color: $body-bg;
                                    }
                                }
                            }
                        }
                        &:hover {
                            box-shadow:  3px 3px 6px #c0c0c0, 
                                -3px -3px 6px #f4f4f4;
                            transition: box-shadow .2s;
                        }
                        .followbutton {
                            display: block;
                            margin: 10px;
                            box-sizing: border-box;
                            padding: 10px 20px;
                            background-color: $body-bg;
                            color: $body-color;
                            border-radius: 5px;
                            border: none;
                            outline: none;
                            box-shadow: $card-shadow;
                            transition: box-shadow .2s;    
    
                            &:hover {
                                box-shadow: $card-shadow-hover;
                                transition: box-shadow .2s;
                            }
                            &.active {
                                box-shadow: $card-shadow-hover;
                                background-color: $theme;
                            }
                        }
                    }
                }
                .home-tl {
                    width: 70%;
                    height: 100%;
                    box-sizing: border-box;
                    padding: $header-height * 2 5% 0 5%;
                    overflow-y: auto;

                    .alert-card {
                        width: 100%;
                        margin: 30px auto;
                        box-sizing: border-box;
                        padding: $header-height 10px;
                        background-color: $body-bg;
                        border-radius: 15px;
                        box-shadow:  9px 9px 18px #c0c0c0, 
                            -9px -9px 18px #f4f4f4;

                        .alert-header {
                            font-family: $font-family-sans-serif;
                            font-size: 10em;
                            text-decoration: underline;
                            text-decoration-color: $theme;
                            color: $navbar-theme-hov;
                        }
                        .alert-descr {
                            font-size: 1.5em;
                            color: $body-color;
                        }
                        em {
                            font-style: normal;
                            color: $theme;
                        }
                    }

                    .showcase {
                        width: 100%;
                        height: 240px;
                        margin: 30px auto;
                        background-color: $body-bg;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 15px;
                        transition: transform .2s, width .2s;
                        box-shadow:  9px 9px 18px #c0c0c0, 
                            -9px -9px 18px #f4f4f4;
                        transition: box-shadow .2s;
                        .content {
                            width: 40%;
                            height: 100%;
                            background-color: $body-bg;
                            word-break: break-all;
        
                            h2 {
                                width: 100%;
                                height: 220px;
                                margin: 0;
                                box-sizing: border-box;
                                padding: 0 10px;
                                line-height: 220px;
                                color: $body-color;
                                overflow: hidden;
                            }
                            p {
                                color: $body-color;
                                margin: 0;
                                line-height: 20px;
                            }
                        }
                        &:hover {
                            box-shadow:  3px 3px 6px #c0c0c0, 
                                -3px -3px 6px #f4f4f4;
                            opacity: 0.9;
                            transition: box-shadow .2s;
                        }
                    }
                    
                    .post {
                        width: 100%;
                        margin: 30px auto;
                        box-sizing: border-box;
                        padding: $header-height 10px;
                        background-color: $body-bg;
                        border-radius: 15px;
                        box-shadow:  9px 9px 18px #c0c0c0, 
                            -9px -9px 18px #f4f4f4;
                        transition: box-shadow .2s;

                        .post-title {
                            font-size: 1.2em;
                            font-weight: bolder;
                            color: $body-color;
                        }
                        .post-wrapper {
                            color: $body-color;
                        }

                        &:hover {
                            box-shadow:  3px 3px 6px #c0c0c0, 
                                -3px -3px 6px #f4f4f4;
                            transition: box-shadow .2s;
                        }
                    }
                }
            }
        }


    }
    .player {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        height: $player-height;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        background-color: $body-bg;
        box-shadow:  7px 7px 14px #b9b9b9, 
        -7px -7px 14px #fbfbfb;
        z-index: 10;

        .controller {
            width: calc( #{$player-height} - 10px) ;
            height: calc( #{$player-height} - 10px) ;
            margin: 5px 5px;
            box-sizing: border-box;
            background: #dadada;
            box-shadow: inset -9px -9px 18px #c0c0c0, 
                    inset 9px 9px 18px #f4f4f4;
            outline: none;
            border: none;
            border-radius: 20px;
            font-size: $player-height - 30px;
            color: white;

            cursor: pointer;

            &:hover {
                background-color: $theme;
                box-shadow: inset 9px 9px 18px #d64237, 
                    inset -9px -9px 18px #ff5447;
            }
        }
        audio {
            display: none;
        }
        .title {
            box-sizing: border-box;
            padding: 0 5px;
            color: white;
        }
        .seekbar {
            margin: 0 20px;
            background: linear-gradient($theme, $theme) no-repeat #eee;
            width: 100%;
            height: 5px;
            transition: height .2s;
            z-index: 3;

            &:hover {
                height: $header-height / 2;
                transition: height .2s;
            }
        }
        .player-menu {
            position: fixed !important;
            top: 0 !important;
            left: 50% !important;
            width: 50% !important;
            height: 100vh !important;
            overflow-y: auto;
        }
    }
    .nextgb {
        background-color: $navbar-theme-hov;
        border-left: solid 2px #b6b6b6;
        border-top: solid 2px #b6b6b6;
        border-bottom: solid 2px #6d6d6d;
        border-right: solid 2px #949494;
        outline: none;
        color: $navbar-color;

        &:hover, &:focus {
            border-right: solid 2px #b6b6b6;
            border-bottom: solid 2px #b6b6b6;
            border-top: solid 2px #6d6d6d;
            border-left: solid 2px #949494;
        }

        &.active {
            background-color: $theme;
            border-right: solid 2px #b6b6b6;
            border-bottom: solid 2px #b6b6b6;
            border-top: solid 2px #6d6d6d;
            border-left: solid 2px #949494;
        }
    }
    /*App*/

    app-userinfo {
        * {
            margin: 0;
        }
    }

    .nextgb:hover & {
        background-color: #00ff00;
    }
    ::-webkit-scrollbar {
        width: 8px;
        background-color: #dfdfdf;
        box-shadow: inset 1px 1px 2px #d1d1d1, 
            inset -1px -1px 2px #ffffff;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $navbar-theme-hov;
    }
}