@charset "UTF-8";

@font-face {
  font-family: "Source Han Sans Regular";
  src: url(/fonts/SourceHanSans-Regular.woff) format("otf"), url(/fonts/SourceHanSans-Regular.woff) format("woff");
}

body {
  background-color: #dadada;
  width: 100%;
  min-height: 100vh;
  font-family: "Source Han Sans Regular", sans-serif !important;
  font-weight: 900;
}

body .header {
  position: fixed;
  top: 1px;
  left: 0;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dddddd;
  box-shadow: 7px 7px 14px #b9b9b9, -7px -7px 14px #fbfbfb;
  z-index: 9;
}

body .header .brand {
  margin: 0;
}

body .header .brand a {
  font-family: "Source Han Sans Regular", sans-serif !important;
  font-size: 20px;
  color: #f34b3f;
  text-decoration: none;
}

body .header .brand:hover {
  text-decoration: none;
}

body .header .navbar ul {
  margin: 0;
  display: flex;
  list-style: none;
}

body .header .navbar ul li {
  box-sizing: border-box;
  padding: 0 10px;
}

body .header .navbar ul li a {
  font-size: 25px;
  color: #7c7c7c;
}

body .header .navbar ul li a:hover {
  text-decoration: line-through;
}

body .header .navbar ul li a.active {
  text-decoration: line-through;
}

body .header .header-post-button {
  max-width: 100px;
  height: 35px;
  box-sizing: border-box;
  padding: 0 20px;
  background: linear-gradient(145deg, #e9e9e9, #c4c4c4);
  box-shadow: inset -5px -5px 9px #b9b9b9, inset 5px 5px 9px #fbfbfb;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
}

body .header .header-post-button a {
  display: block;
  line-height: 35px;
  color: #f34b3f;
}

body .header .header-post-button a:hover {
  text-decoration: none;
}

body .header .header-post-button:hover {
  box-shadow: inset 5px 5px 9px #b9b9b9, inset -5px -5px 9px #fbfbfb;
}

body .header .dropdown {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 0;
  flex: none;
  background-color: #dddddd;
}

body .header .dropdown ul {
  width: 100%;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
}

body .header .dropdown ul a {
  width: 100%;
  display: block;
  color: #636363;
  text-decoration: none;
}

body .header .dropdown ul a li {
  box-sizing: border-box;
  padding: 0 3%;
}

body .header .dropdown ul a li:hover {
  background-color: #f34b3f;
}

body .article {
  width: 100%;
  height: 100vh;
  margin: 0 !important;
  box-sizing: border-box;
  padding: 40px 1% 64px 1%;
  overflow-y: auto;
  font-family: "Source Han Sans Regular", sans-serif !important;
}

body .article .form {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  background: linear-gradient(80deg, #0e4546 16%, #0d797a 50%, black 50%, #dadada 97%);
  color: #636363 !important;
}

body .article .form .mainform {
  width: 50%;
}

body .article .form .mainform label {
  font-size: 1.5em;
}

body .article .form .mainform input {
  background: none;
  border: none;
  border-bottom: solid 2px #ffffff;
  color: #636363;
  transition: border 0.2s;
}

body .article .form .mainform input:focus {
  transition: border 0.2s;
  border-bottom: solid 2px #f34b3f;
}

body .article .form .description {
  width: 50%;
  text-align: center;
}

body .article .form .description h1 {
  text-align: center;
  font-family: "Source Han Sans Regular", sans-serif;
  font-weight: 900;
  font-size: 5em;
  color: #636363 !important;
}

body .article .home {
  width: 100%;
  height: 100%;
}

body .article .home .home-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

body .article .home .home-wrapper .home-nav {
  width: 30%;
  height: 100%;
  overflow-x: auto;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  word-break: break-all;
  overflow-y: auto;
  background-color: #dadada;
}

body .article .home .home-wrapper .home-nav section {
  width: 90%;
  margin: 30px auto;
  box-sizing: border-box;
  padding: 15px 2px;
  border-radius: 5px;
  background-color: #dadada;
  box-shadow: 9px 9px 18px #c0c0c0, -9px -9px 18px #f4f4f4;
}

body .article .home .home-wrapper .home-nav section h3 {
  margin: 0;
  font-size: 2em;
  color: #636363;
}

body .article .home .home-wrapper .home-nav section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body .article .home .home-wrapper .home-nav section ul li {
  padding: 5px 2px;
  text-align: justify;
}

body .article .home .home-wrapper .home-nav section ul li a {
  color: #636363;
}

body .article .home .home-wrapper .home-nav section ul li a:hover {
  text-decoration: none;
}

body .article .home .home-wrapper .home-nav section ul li:hover {
  background-color: #100483;
}

body .article .home .home-wrapper .home-nav section ul li:hover a {
  color: #636363;
}

body .article .home .home-wrapper .home-tl {
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 30px;
  overflow-y: auto;
}

body .article .home .home-wrapper .home-tl .showcase {
  width: 90%;
  height: 240px;
  margin: auto;
  background-color: #dadada;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.2s, width 0.2s;
  box-shadow: 9px 9px 18px #c0c0c0, -9px -9px 18px #f4f4f4;
}

body .article .home .home-wrapper .home-tl .showcase .content {
  width: 40%;
  height: 100%;
  background-color: #dadada;
  word-break: break-all;
}

body .article .home .home-wrapper .home-tl .showcase .content h2 {
  width: 100%;
  height: 220px;
  margin: 0;
  box-sizing: border-box;
  padding: 0 10px;
  line-height: 220px;
  color: #636363;
  overflow: hidden;
}

body .article .home .home-wrapper .home-tl .showcase .content p {
  color: #636363;
  margin: 0;
  line-height: 20px;
}

body .article .home .home-wrapper .home-tl .showcase:hover {
  opacity: 0.9;
}

body .player {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #dadada;
  box-shadow: 7px 7px 14px #b9b9b9, -7px -7px 14px #fbfbfb;
  z-index: 10;
}

body .player .controller {
  width: calc( 64px - 10px);
  height: calc( 64px - 10px);
  margin: 5px 5px;
  box-sizing: border-box;
  background: #dadada;
  box-shadow: inset -9px -9px 18px #c0c0c0, inset 9px 9px 18px #f4f4f4;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 34px;
  color: white;
  cursor: pointer;
}

body .player .controller:hover {
  background-color: #f34b3f;
  box-shadow: inset 9px 9px 18px #d64237, inset -9px -9px 18px #ff5447;
}

body .player audio {
  display: none;
}

body .player .title {
  box-sizing: border-box;
  padding: 0 5px;
  color: white;
}

body .player .seekbar {
  margin: 0 20px;
  background: linear-gradient(#f34b3f, #f34b3f) no-repeat #eee;
  width: 100%;
  height: 5px;
  transition: height 0.2s;
  z-index: 3;
}

body .player .seekbar:hover {
  height: 20px;
  transition: height 0.2s;
}

body .player .player-menu {
  position: fixed !important;
  top: 0 !important;
  left: 50% !important;
  width: 50% !important;
  height: 100vh !important;
  overflow-y: auto;
}

body .nextgb {
  border-left: solid 2px #b6b6b6;
  border-top: solid 2px #b6b6b6;
  border-bottom: solid 2px #6d6d6d;
  border-right: solid 2px #949494;
  background-color: #bebebe;
  outline: none;
}

body .nextgb:hover,
body .nextgb:focus {
  border-right: solid 2px #b6b6b6;
  border-bottom: solid 2px #b6b6b6;
  border-top: solid 2px #6d6d6d;
  border-left: solid 2px #949494;
  background-color: #afafaf;
}

.nextgb:hover body {
  background-color: #00ff00;
}

@media screen and (max-width: 900px) {
  body .header {
    /*アイコンも収まらなくなったら、headerを二段にする*/
  }
}

@media screen and (max-width: 900px) and (max-width: 500px) {
  body .header {
    height: 80px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 900px) and (max-width: 500px) {
  body .header .brand {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  body .header .navbar ul {
    padding: 0;
  }
}

@media screen and (max-width: 900px) and (max-width: 500px) {
  body .article {
    padding-top: 80px !important;
  }
}

@media screen and (max-width: 900px) {
  body .player .player-menu {
    top: 0 !important;
    left: 10% !important;
    width: 80% !important;
  }
}

